/* 
header nav {
    position: fixed;
    z-index: 1;
} */


/* header {
    padding-bottom: 135px;
} */

a.logo-text {
    font-weight: 700;
    font-size: 40px;
    color: rgb(185, 179, 179);
}

.text {
    color: black;
    font-size: 40px;
    margin-top: 250px;
}

.slise {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.section {
    height: 660px;
    width: 100%;
}

.card-header span {
    font-weight: 700;
    font-size: 25px;
    margin-left: 400px;
    text-align: center;
}

.card-body p {
    font-weight: 700;
    text-align: justify;
    font-size: 19px;
}

.list {
    font-size: 25px;
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.list :hover {
    color: #ccc;
    transition: 1s;
    font-weight: 700;
    text-decoration: none;
}

.link {
    margin-bottom: 10px;
}


.left{
	animation: left-side 1.5s ease;

}
.middle{
	animation: drop 1.5s ease;

}
.right{
	animation: right-side 1.5s ease;

}


.col-left{
width: 85%;
border-radius: 6px;
height: 60vh;
box-shadow: 1px 2px 1px 1px grey;
margin-left: 55px;
padding: 0;
/* background: blue; */
}
.col-right{
width: 85%;
border-radius: 6px;
height: 60vh;
box-shadow: 1px 2px 1px 1px grey;
margin-left: 75px;
/* background: red; */
padding: 0;
}

.col-left iframe{
width: 100%;
height: 100%;
border-radius: 6px;

}

.col-right iframe{
width: 100%;
height: 100%;
border-radius: 6px;
}






@keyframes left-side {
	0% {
		opacity: 0;
		transform: translateX(-80px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes right-side {
	0% {
		opacity: 0;
		transform: translateX(80px);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}